.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#site-container {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 90px;
}

.card-columns {
  padding-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin-right: 20px;
  max-height: 250px;
}

.card-text-summary {
  max-height: 100px;
  overflow: hidden;
}
.overlay {
  content: '';
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
  background-image: linear-gradient(to bottom, transparent, white);
  max-height: 170px;
}



// *{ border: 1px solid red; }

.card-container.row {
  background-color: rgb(216, 216, 216);
  padding-top: 20px;
}

.sheet-container.row {
  background-color: rgb(223, 235, 217);
  padding-left: 30px;
  margin-top: 10px;
  padding-top: 20px;
}